<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HealthAid - Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-input placeholder="username"></ion-input>
            </ion-item>
            <br>
            <ion-item>
                <ion-input placeholder="password" type="password"></ion-input>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>