
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HealthAid
    </ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Welcome to HealthAid</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                An app designed to keep track of your medication schedule so you don't have to
            </ion-card-content>
          </ion-card>
        
        <ion-button color="light" >Get Started</ion-button>
    </ion-content>